.stepper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fbfcff;
  padding: 1rem;
  border-radius: 1rem;

  .container {
    // width: 8rem;
    position: relative;

    // &:not(:last-of-type) {
    //   &::after {
    //     content: '';
    //     width: 64%;
    //     height: 0.1rem;
    //     position: absolute;
    //     background-color: #d7e0ea;
    //     left: 63%;
    //     top: 50%;
    //     transition: background-color 0.2s ease;
    //   }
    // }

    &:last-of-type {
      width: 4rem;
    }

    &.completed {
      // &:not(:last-of-type) {
      //   &::after {
      //     background-color: var(--ion-color-primary);
      //   }
      // }

      .step {
        span {
          background-color: var(--ion-color-primary);
          color: var(--ion-color-primary-contrast);
          box-shadow: none;
        }
      }
    }

    .step {
      list-style-type: none;
      padding: 0.3rem;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        padding: 1rem;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--ion-color-primary);
        font-size: 1.5rem;
        box-shadow: 0px 3px 15px 0px rgba(62, 115, 221, 0.3);
        transition: background-color 0.2s ease;
      }

      &.active {
        span {
          background-color: var(--ion-color-primary);
          color: var(--ion-color-primary-contrast);
          box-shadow: none;
        }

        border: 1px solid var(--ion-color-primary);
      }
    }
  }

  .line {
    width: 20%;
    height: 0.1rem;
    background-color: #d7e0ea;
    transition: background-color 0.2s ease;

    &.completed {
      background-color: var(--ion-color-primary);
    }
  }
}
